<!DOCTYPE html>
<html>
<head>
    <title>Flapper News</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="News">
<script type="text/ng-template" id="/home.html">
    <div class="page-header">
        <h1>Flapper News</h1>
    </div>

    <div ng-repeat="post in posts | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
              ng-click="incrementUpvotes(post)"></span>
        {{post.upvotes}}
        <span style="font-size:20px; margin-left:10px;">
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
        </span>
        <span>
          <a href="#/posts/{{$index}}">Comments</a>
        </span>
    </div>

    <form ng-submit="addPost()"
          style="margin-top:30px;">
        <h3>Add a new post</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Title"
                   ng-model="title"/>
        </div>
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Link"
                   ng-model="link"/>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</script>

<script type="text/ng-template" id="/test.html">
    <div class="page-header">
        <h3>
            {{test}}
        </h3>
    </div>
        <div ng-repeat="a in test['results']">
            <!--{{a}}}-->
            {{a}}
            <!--<div -->
        </div>
        <!--{{var1}}: {{var2}}-->
</script>

<script type="text/ng-template" id="/posts.html">
    <div class="page-header">
        <h3>
            <a ng-show="post.link" href="{{post.link}}">
                {{post.title}}
            </a>
            <span ng-hide="post.link">
          {{post.title}}
        </span>
        </h3>
    </div>

    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up"
            ng-click="incrementUpvotes(comment)"></span>
        {{comment.upvotes}} - by {{comment.author}}
        <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
      </span>
    </div>

    <form ng-submit="addComment()"
          style="margin-top:30px;">
        <h3>Add a new comment</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Comment"
                   ng-model="body"/>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</script>

<script type="text/ng-template" id="/quiz.html">
    <li ng-repeat="question in questions">
        {{ question.questionText }}
        <ul  id="quest_{{$parent.$index}}">
            <li ng-repeat="answer in question.answers">
                <label class="isCorrect_{{answer.selected}}" for="quest_{{$parent.$index}}_answer_{{$index}}">
                    <input type="radio" id="quest_{{$parent.$index}}_answer_{{$index}}"
                           ng-model="answers[$parent.$index]" value="{{ answer.answerText }}"  name="quest_{{$parent.$index}}_answers" />
                    {{ answer.answerText }}
                </label>
            </li>
        </ul>
    </li>
    <button class="btn" type="submit" ng:click="showResult()">Submit</button>
    <div class="well">
        <p>you got {{ correctCount }} out of {{questions.length}} right</p>
    </div>
</script>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <ui-view></ui-view>

    </div>
</div>
<!-- External dependencies -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<!-- Own JS files -->
<script src="javascripts/angularApp.js"></script>
<script src="javascripts/controllers/quizcontroller.js"></script>
<script src="javascripts/controllers/testcontroller.js"></script>
<script src="javascripts/controllers/postcontroller.js"></script>
<script src="javascripts/controllers/maincontroller.js"></script>
<script src="javascripts/service.js"></script>
<script src="javascripts/configure.js"></script>
</body>
</html>